<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- j'indique le chmin vers mon CSS, à partir du dossier "public" que l'on a indiqué à Express comme étant le dossier contenant les fichiers statiques -->
    <title>Student O'clock</title>
</head>
<body>

    <header class="header">
        <div class="header_logo">Student List</div>  
        <nav class="header_nav">
            <ul>
                <li><a class="button button--menu" href="/">Accueil</a></li>
                <li><a class="button button--menu" href="/promos">Promos</a></li>
                <li><a class="button button--menu" href="">Login</a></li>
                <li><a class="button button--menu" href="">Contact</a></li>
            </ul>
        </nav>      

    </header>